<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">


<link th:href="@{/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css}" rel="stylesheet">
<link th:href="@{/css/plugins/jqGrid/ui.jqgrid.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/custom/self-theme.css}" rel="stylesheet">
<div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>公告管理</h2>
                    <ol class="breadcrumb">
                        <li class="active">
                            <strong>公告管理</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeIn">
                <div class="row">
                    <div class="all-reservoir">
                        <div class="tabs-container">
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="grid-tools">
                                        <button type="button" class="publish-btn grid-btn" onclick="toPublishNotice()">
                                            <i class="fa fa-pencil-square-o"></i>发布公告</button>
                                        <button type="button" class="modify-btn grid-btn" onclick="modifyNotice()">
                                            <i class="fa fa-pencil"></i>修改</button>
                                        <button type="button" class="delete-btn grid-btn">
                                            <i class="fa fa-trash-o"></i>删除</button>
                                        <button type="button" class="refresh-btn grid-btn">
                                            <i class="fa fa-refresh"></i>刷新</button>
                                        <div class="search-block">
                                            <a onclick="searchNotice()">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <input type="text" id="search_condition" />
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="jqGrid_wrapper self-grid">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
<!-- jqGrid -->
    <script th:src="@{/js/plugins/jqGrid/i18n/grid.locale-en.js}"></script>
    <script th:src="@{/js/plugins/jqGrid/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/js/custom/announcement_management.js}"></script>
</html>