<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>项目月报</title>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/steps/jquery.steps.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/daterangepicker/daterangepicker-bs3.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/cropper/cropper.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/custom/fileinput.css}"  rel="stylesheet" type="text/css">
</head>

<body>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>月报新增</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/index">主页</a>
            </li>
            <li class="active">
                <strong>新增项目月报</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>月报新增</h5>
                </div>
                <div class="ibox-content">
                    <form id="form" action="#" class="wizard-big">

                        <h1>投资情况</h1>
                        <fieldset>
                            <h2>工程部分投资</h2>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>建筑工程(万元)</label><span style="color:red;"> *</span>
                                                <input id="civil_engineering" name="civil_engineering" type="text" class="form-control required number" maxlength="15">
                                            </div>
                                            <div class="col-lg-4">
                                                <label>本年度累计</label><span style="color:red;"> </span>
                                                <div class="bg-primary p-xxs b-r-xl"> 54561.23</div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label>开工累计</label><span style="color:red;"> </span>
                                                <div class="bg-primary p-xxs b-r-xl"> 54561.23</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>金属机构设备及安装工程(万元)</label><span style="color:red;"> *</span>
                                                <input id="metal_mechanism" name="metal_mechanism" type="text" class="form-control required number" maxlength="15">
                                            </div>
                                            <div class="col-lg-3">
                                                <label>本年度累计</label><span style="color:red;"> </span>
                                                <div class="bg-primary p-xxs b-r-xl"> 54561.23</div>
                                            </div>
                                            <div class="col-lg-3">
                                                <label>开工累计</label><span style="color:red;"> </span>
                                                <div class="bg-primary p-xxs b-r-xl"> 54561.23</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label>独立费用(万元)</label><span style="color:red;"> *</span>
                                                <input id="independent_cost" name="independent_cost" type="text" class="form-control required number" maxlength="15">
                                            </div>
                                            <div class="col-lg-4">
                                                <label>本年度累计</label><span style="color:red;"> </span>
                                                <div class="bg-primary p-xxs b-r-xl"> 54561.23</div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label>开工累计</label><span style="color:red;"> </span>
                                                <div class="bg-primary p-xxs b-r-xl"> 54561.23</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>机电设备及安装工程(万元)</label><span style="color:red;"> *</span>
                                        <input id="electromechanical_equipment" name="electromechanical_equipment" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>施工临时工程(万元)</label><span style="color:red;"> *</span>
                                        <input id="temporary_work" name="temporary_work" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>基本预备费(万元)</label><span style="color:red;"> *</span>
                                        <input id="reserve_funds" name="reserve_funds" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <h2>移民、环境投资</h2>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>建设征地移民安置补偿费(万元)</label><span style="color:red;"> *</span>
                                        <input id="resettlement_arrangement" name="resettlement_arrangement" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>环境保护工程投资(万元)</label><span style="color:red;"> *</span>
                                        <input id="environmental_protection" name="environmental_protection" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>水土保持工程投资(万元)</label><span style="color:red;"> *</span>
                                        <input id="water_conservation" name="water_conservation" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                     <div class="form-group">
                                        <label>其他(万元)</label>
                                        <input id="other_cost" name="other_cost" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h2>资金来源</h2>
                            <br>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>中央投资(万元)</label><span style="color:red;"> *</span>
                                    <input id="source_central_investment" name="source_central_investment" type="text" class="form-control required number" maxlength="12">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>省级投资(万元)</label><span style="color:red;"> *</span>
                                    <input id="source_provincial_investment" name="source_provincial_investment" type="text" class="form-control required number" maxlength="12">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>市县投资(万元)</label><span style="color:red;"> *</span>
                                    <input id="source_local_investment" name="source_local_investment" type="text" class="form-control required number" maxlength="12">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h2>资金到位</h2>
                            <br>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>中央投资(万元)</label><span style="color:red;"> *</span>
                                    <input id="available_central_investment" name="available_central_investment" type="text" class="form-control required number" maxlength="12">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>省级投资(万元)</label><span style="color:red;"> *</span>
                                    <input id="available_provincial_investment" name="available_provincial_investment" type="text" class="form-control required number" maxlength="12">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>市县投资(万元)</label><span style="color:red;"> *</span>
                                    <input id="available_local_investment" name="available_local_investment" type="text" class="form-control required number" maxlength="12">
                                </div>
                            </div>
                        </fieldset>

                        <h1>工程量情况</h1>
                        <fieldset>
                            <h2>本月完成工程量</h2>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>土石方明挖（万/m³）</label><span style="color:red;"> *</span>
                                        <input id="open_dug" name="open_dug" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>土石方回填（万/m³）</label><span style="color:red;"> *</span>
                                        <input id="backfill" name="backfill" type="text" class="form-control required number " maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>混泥土（万/m³）</label><span style="color:red;"> *</span>
                                        <input id="concrete" name="concrete" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>灌浆（m或m³）</label><span style="color:red;"> *</span>
                                        <input id="grout" name="grout" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>土石方洞挖</label><span style="color:red;"> *</span>
                                        <input id="hole_dug" name="hole_dug" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>砌石（万/m³）</label><span style="color:red;"> *</span>
                                        <input id="masonry" name="masonry" type="text" class="form-control required number" maxlength="15">
                                    </div>
                                    <div class="form-group">
                                        <label>钢筋（t）</label><span style="color:red;"> *</span>
                                        <input id="rebar" name="rebar" type="text" class="form-control required number" maxlength="15">
                                    </div>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                        </fieldset>

                        <h1>项目情况</h1>
                        <fieldset>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group" id="data_4">
                                        <label class="font-normal">填报月份</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input id="submit_date" name="submit_date" type="text" class="form-control required" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>劳动力投入（万工日）</label><span style="color:red;"> *</span>
                                        <input id="labour_force" name="labour_force" type="text" class="form-control required number"  maxlength="15">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>主要建设内容</label>
                                        <textarea id="construction_content" class="form-control required required" maxlength="250"></textarea>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>存在困难及问题</label>
                                        <textarea id="difficulty" class="form-control " maxlength="250"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>下一步建议</label>
                                        <textarea id="suggestion" class="form-control " maxlength="250"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                	<div class="form-group">
                                        <label>工程形象进度及节点工期</label>
                                        <textarea id="visual_progress" class="form-control required" maxlength="250"></textarea>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label>采取的主要措施</label>
                                        <textarea id="measure" class="form-control " maxlength="250"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>备注</label>
                                        <textarea id="remark" class="form-control " maxlength="250"></textarea>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <h1>附件</h1>
                        <fieldset>
                            <h2>图片附件上传</h2>
                            <br>
                            <br>
                            <div class="row">
                                <form enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="file-loading">
                                        <input id="uploadfile" name="uploadfile" type="file" multiple  data-overwrite-initial="false" data-min-file-count="1">
                                    </div>
                                </div>
                            </form>
                            </div>
                            <br>
                            <div class="hr-line-dashed"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Steps -->
<script th:src="@{/js/plugins/steps/jquery.steps.min.js}"></script>

<!-- Jquery Validate -->
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>


<!-- Data picker -->
<script th:src="@{/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script th:src="@{/js/custom/bootstrap-datepicker.zh-CN.js}"></script>
<!-- Image cropper -->
<script th:src="@{/js/plugins/cropper/cropper.min.js}"></script>
<!-- Tags Input -->
<script th:src="@{/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>

<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

<script th:src="@{/js/custom/project_monthly_report.js}"></script>


<script th:src="@{/js/custom/fileinput.min.js}" type="text/javascript"></script>

<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/locales/zh.min.js"></script>

</body>

</html>
